.bw-drawing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  z-index: 10;
}

.bw-drawing-canvas {
  width: 100%;
  height: 100%;
  cursor: crosshair;
}
