/* Baseweight Canvas - Selection Overlay Styles */

.bw-selection-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair;
  user-select: none;
  z-index: 10;
}

.bw-selection-rect {
  position: absolute;
  border: 2px dashed #0078d4;
  background-color: rgba(0, 120, 212, 0.1);
  pointer-events: none;
  box-sizing: border-box;
}

.bw-selection-rect::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
